@charset "utf-8";


body{
    background: #76bb96;
    margin: 0;
    padding: 0;
    }

span{
    background: #97bd75;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    background: #97bd75;
}

p{
    text-align: center;
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#76bb96;
    margin: 1.5em;
    padding: 40px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

nav{
    font-size: 25px;
}

.galeria{
    margin: 2em;
    display: flex;
    height: 19em;
    gap: 1em;
}

.galeria div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    flex: 1;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.galeria div:hover{
    flex:2;
}

.container{
    max-width: 1000px;
    margin:auto;
    overflow: auto;
    padding: 0.8em;
    border-radius: 20px;
}

img{
    width: 100%;
   border-radius: 12px;
}

.card{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2em;
    margin-bottom: 1em;
}

.card h3 {
    margin-bottom: 2em;
}

.card img{
    height: auto;
}

.card:nth-child(even) img{
    order: 2;
}

.card div{
    padding: 1em;
}

@media all and (max-width:820px){

    .galeria div{
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    flex: 1;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    background-color:#97bd75;
}

footer p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

footer img{
    height: 100px;
    width: 100px;
}

.ahover:hover{
    opacity: 0.6;
}